<mat-card style="padding: 30px; width: 600px; height: 300px; margin: auto" class="text-center"
          style="margin: 90px;">
    <mat-card-title> Sequence: {{this.dnaSequence.forward}}</mat-card-title>
    <div id="row">
      <div id="item">Molecular Weight: {{this.dnaSequence.molecularWeight}} g/ mol</div>
      <div id="item">GC content : {{this.dnaSequence.gcContent}}%</div>
    </div>
    <div id="row">
      <div id="item">rlnkValue: {{this.dnaSequence.rlnkValue}} cal/ (°K*mol)</div>
      <div id="item">{{this.dnaSequence.selfdimer ? "Homodimer" : "Isn't homodimer"}}</div>
      <div id="item">{{this.dnaSequence.hairloop ? "Harpin" : "Isn't harpin"}}</div>
    </div>
    <div id="row">
      <div id="item">Reverse: {{this.dnaSequence.reverse}}</div>
      <div id="item">Complementer 5' to 3': {{this.dnaSequence.complementerFtoT}}</div>
      <div id="item">Complementer 3' to 5': {{this.dnaSequence.complementerTtoF}}</div>
    </div>
    <div id="row">
      <div id="item">delta G: {{this.dnaSequence.deltaG}} Kcal/ mol</div>
      <div id="item">delta H: {{this.dnaSequence.deltaH}} Kcal/ mol</div>
      <div id="item">delta S: {{this.dnaSequence.deltaS}} cal/ (°K*mol)</div>
    </div>
    <div id="row">
      <div id="item">Contains A: {{this.dnaSequence.acontent}}</div>
      <div id="item">Contains T: {{this.dnaSequence.tcontent}}</div>
      <div id="item">Contains C: {{this.dnaSequence.ccontent}}</div>
      <div id="item">Contains G: {{this.dnaSequence.gcontent}}</div>
    </div>
    <div id="row">
      <div id="item">Melting Temperature: {{this.dnaSequence.tmBasic}} °C (Basic)</div>
      <div id="item">{{this.dnaSequence.tmSalty}} °C (Salty)</div>
      <div id="item">{{this.dnaSequence.tmNn}} °C (Nearest Neighbor)</div>
    </div>
    <div id="row">
      <div id="item">AATT: {{this.dnaSequence.aatt}}</div>
      <div id="item">ATTA: {{this.dnaSequence.atta}}</div>
      <div id="item">TAAT: {{this.dnaSequence.taat}}</div>
      <div id="item">CAGT: {{this.dnaSequence.cagt}}</div>
      <div id="item">CTGA: {{this.dnaSequence.ctga}}</div>
    </div>
    <div id="row">
      <div id="item">GACT: {{this.dnaSequence.gact}}</div>
      <div id="item">GTCA: {{this.dnaSequence.gtca}}</div>
      <div id="item">CGGC: {{this.dnaSequence.cggc}}</div>
      <div id="item">GCCG: {{this.dnaSequence.gccg}}</div>
      <div id="item">GGCC: {{this.dnaSequence.ggcc}}</div>
    </div>
