<div style="margin: 90px;">
    <div style="display: flex;
    justify-content: center;">
      <div>
        Adenin - Thymine
      </div>
    </div>
    <div style="display: flex;
    justify-content: center;">
      <a href="https://hu.wikipedia.org/wiki/Adenin" target="_blank" rel="noopener noreferrer">
        <div style="padding: 20px">
          <img id="imgStyle" src="assets/images/adenine.png">
        </div>
      </a>
      <a href="https://bs.wikipedia.org/wiki/Timin" target="_blank" rel="noopener noreferrer">
        <div style="padding: 20px">
          <img id="imgStyle" src="assets/images/thymine.png">
        </div>
      </a>
    </div>
    <div style="margin-top:20px; display: flex;
    justify-content: center;">
      <div>
        Cythosine - Guanine
      </div>
    </div>
    <div style="display: flex;
    justify-content: center;">
      <a href="https://hu.wikipedia.org/wiki/Citozin" target="_blank" rel="noopener noreferrer">
        <div style="padding: 20px">
          <img id="imgStyle" src="assets/images/cytosine.png">
        </div>
      </a>
      <a href="https://hu.wikipedia.org/wiki/Guanin" target="_blank" rel="noopener noreferrer">
        <div style="padding: 20px">
          <img id="imgStyle" src="assets/images/guanin.png">
        </div>
      </a>
    </div>
  </div>
