<nav class="navbar navbar-expand-lg navbar-light bg-dark fixed-top" style="height: 60px;" >
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto" style="margin-left: 100px">
      <li class="nav-item" class="nav-item" style="width: 130px">
        <a [routerLink]="['/homepage']" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Home</a>
      </li>
      <li class="nav-item" style="width: 160px">
        <a [routerLink]="['/sequences']" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Sequences</a>
      </li>
      <li class="nav-item" class="nav-item" style="width: 160px">
        <a [routerLink]="['/procedures']" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Procedures</a>
      </li>
    </ul>
  </div>
</nav>
<body>
<router-outlet></router-outlet>
</body>
