<form [formGroup]="addSeqForm" (submit)="createSequence()" style="margin-top: 100px"
      xmlns="http://www.w3.org/1999/html">

  <mat-card style="padding: 30px; width: 600px; height: 400px; margin: auto" class="text-center">
    <mat-card-title> Create new nukleotid sequence</mat-card-title>
    <div style="padding-right: 30px; padding-top: 20px">
      <div style="display: inline; margin: 30px">
        <mat-label>Sequence</mat-label>
      </div>
      <div style="display: inline; margin: 15px;">
        <mat-form-field style="width:220px">
          <input matInput formControlName="sequence">
          <mat-error *ngIf="addSeqForm.hasError('pattern','sequence')">
            Only 10 character and this must be A, C, G or T.
          </mat-error>
        </mat-form-field>
      </div>
    </div>
    <div style="padding-right: 60px; padding-top: 20px">
      <div style="display: inline; margin: 60px">
        <mat-label>Primer concentration in nM</mat-label>
      </div>
      <div style="display: inline; margin: 15px" >
        <mat-form-field style="width:110px">
          <input matInput formControlName="primer">
          <mat-error *ngIf="addSeqForm.hasError('pattern','primer')">
            We need primer concentration between 0-1000.
          </mat-error>
        </mat-form-field>
      </div>
    </div>
    <div style="padding-right: 80px; padding-top: 20px">
      <div style="display: inline; margin: 80px">
        <mat-label>Salt concentration in nM</mat-label>
      </div>
      <div style="display: inline; margin: 10px">
        <mat-form-field style="width:110px">
          <input matInput formControlName="salt">
          <mat-error *ngIf="addSeqForm.hasError('pattern','salt')">
            We need salt concentration between 0-1000.
          </mat-error>
        </mat-form-field>
      </div>
    </div>
    <div style="padding-top: 20px">
      <button mat-raised-button>
      <span class="fa-stack">
        <i class="fa fa-square fa-stack-2x"></i>
        <i class="fa fa-plus-circle fa-stack-1x fa-inverse"></i>
      </span>
      </button>
    </div>
  </mat-card>
</form>

<div class="container" id="containerId">
  <table class="table sequences-list" style="padding-top: 70px">
    <thead>
    <tr class="text-center">
      <th>
        <mat-label>Sequence</mat-label>
      </th>
      <th>
        <mat-label>Created</mat-label>
      </th>
      <th>
        <mat-label>Primer concentration</mat-label>
      </th>
      <th>
        <mat-label>Salt concentration</mat-label>
      </th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr class="text-center" *ngFor="let dna of dnaSequences">
      <td style="width: 30%;">
        <h2 style="padding-top: 10px">{{dna.forward}}</h2>
      </td>
      <td style="width: 15%;">
        <span class="label label-default">{{dna.createdAt}}</span>
      </td>
      <td style="width: 15%;">
        <span class="label label-default">{{dna.primerConc}}</span>
      </td>
      <td style="width: 15%;">
        <span class="label label-default">{{dna.saltConc}}</span>
      </td>
      <td style="width: 25%;">
        <span class="fa-stack">
          <a (click)="navigate(dna.id)" class="table-link">
            <i class="fa fa-square fa-stack-2x"></i>
            <i class="fa fa-search-plus fa-stack-1x fa-inverse"></i>
          </a>
        </span>
        <span class="fa-stack" style="padding-left: 60px">
          <a (click)="delete(dna.id)" class="table-link">
            <i class="fa fa-square fa-stack-2x"></i>
            <i class="fa fa-trash-o fa-stack-1x fa-inverse"></i>
          </a>
        </span>
      </td>
    </tr>
    </tbody>
  </table>
</div>
